/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */





/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         true;
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           true;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         false;
$use-marginalia:    true;
$use-island:        true;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      true;
$use-lozenges:      false;
$use-rules:         true;
$use-stats:         false;
$use-greybox:       true;





/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */
$brand-face: 'Raleway', sans-serif;

$base-font-size:    15px;
$base-line-height:  22px;

$lap-start:         481px;
$desk-start:        700px; // currently only one used
$desk-wide-start:   1200px;

$brand-round:       0;

$h1-size:           30px!default; // .alpha
$h2-size:           24px!default; // .beta
$h3-size:           18px!default; // .gamma
$h4-size:           16px!default; // .delta
$h5-size:           14px!default; // .epsilon
$h6-size:           13px!default; // .zeta

/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */
$max-content:           750px;
$max-narrow-content:    550px;

$purple:            #6b1d6e;
$green:             #0eaf87;
$bg-light-green:    #dcf9f2;
$bg-grey:           #eeeeee;
$bg-light-grey:     #f3f3f3;
$fg-light-grey:     #797979;
$border-grey:       #dbdada;
$std-grey:          #3B3B3B;
